.signup{
    padding-top: 5%;
    border-left: 1px solid #dddd;
    width: 50%;
    height: 450px;
}
.main{
    margin-top: 100px;
}
.login{
    border-left: 1px solid #ddd;
    padding-top: 10%;
    width: 50%;
    height: 450px;
    float: right;

}
.login , .signup{
    display: inline-block;
}
#signupform{
    padding: 15%;
    padding-top: 10px;
}
#signupform button{
    margin-top: 10px;
    float: right;
}
.signup h2{
    text-align: center;
}
.login h2{
    text-align: center;
}